/* Styles go here */
.main.ui.text.container h1{
    margin-top: 1em;
    text-align: center;
    font-size: 2em;
}
.main.ui.text.container hr{
    text-align: center;
    width: 60%;
    margin-top: 1em;
    margin-bottom: 1em;
}

.centered-rows {
    margin: auto;
    max-width: 600px;
}


#content {
    margin-top: 2em;
    margin-bottom: 4em;
}

#content .product-list {
    /* each product within product content */
    margin-top: -2em;
    margin-bottom: 1em;
}

#content .product-list .single-product {
    margin-top: 1em;
}

#content .product-list .single-product .author-image {
    margin-left: 1em;
    max-width: 30px;
    max-height: 30px;
    border-radius: 30px;
}

.product-votes {
    margin-left: 0.5em;
    font-weight: 700;
    font-size: 1.2em;
}

.description > a {
    cursor: pointer;
    color: #4183C4;
    text-decoration: none;
}

a > .fa-caret-up {
    font-size: 30px;
    color: #4183C4;
}

div.extra {
    color: rgb(141, 138, 138);
}

i.icon {
    margin: 0;
}